.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}

.formWrapper {
  padding: 5px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  color: black;
  position: absolute;
  z-index: 5;
  margin-right: 325px;
}

.image1 {
  border-radius: 10px;
  height: 450px;
}
footer {
  position: fixed;
  bottom: 0;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputBox {
  /* background-color: #ffbe79; */
  background: transparent;
  /* border: black; */
  padding: 10px;
  border-radius: 15px;
  border-width: 5px;
  margin-bottom: 14px;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  color: black;
  width: 340px;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 150px;
  text-align: center;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btnP {
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinBtn {
  background: black;
  color: white;
  font-weight: bold;
  width: 200px;
  border-radius: 10px;
}

.joinBtn:hover {
  background: rgb(35, 33, 33);
}

.inputBox:focus {
  border-color: rgb(160, 154, 154);
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.createNewBtn:hover {
  color: rgb(244, 36, 36);
}

a {
  text-decoration: none;
}
