.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}

.formWrapper {
  padding: 5px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  color: black;
  position: absolute;
  z-index: 5;
  margin-right: 325px;
}

.image1 {
  border-radius: 10px;
  height: 450px;
}

footer {
  position: fixed;
  bottom: 0;
}

.createNewBtn:hover,
footer a:hover {
  color: red;
  border-color: #368654;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputBox {
  /* background-color: #ffbe79; */
  background: transparent;
  /* border: black; */
  padding: 10px;
  border-radius: 15px;
  border-width: 5px;
  margin-bottom: 14px;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  color: black;
  width: 340px;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 150px;
  text-align: center;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btnP {
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinBtn {
  background: black;
  color: white;
  font-weight: bold;
  width: 200px;
  border-radius: 10px;
}

.joinBtn:hover {
  background: rgb(35, 33, 33);
}

.inputBox:focus {
  border-color: rgb(160, 154, 154);
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.createNewBtn:hover {
  color: rgb(244, 36, 36);
}

a {
  text-decoration: none;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
  margin-left: 30px;
}

.logoImage {
  height: 80px;
  width: 180px;
}

.leaveBtn {
  background: rgb(11, 201, 18);
  color: white;
  font-weight: bold;
  width: 200px;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.leaveBtn:hover {
  background: rgb(49, 192, 49);
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 16px;
  line-height: 1.6;
  /* padding-top: 20px; */
}

.asideWrap {
  display: flex;
  background: #1c1e29;
  padding: 10px;
  color: #fff;
  flex-direction: column;
  width: 13%;
}

.editorWrap {
  display: grid;
  padding: 10px;
  width: 60%;
  /* height: 100%; */
}

.chatWrap {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}
