.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  margin-bottom: 10px;
}

.formWrapper {
  padding: 5px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  color: black;
  position: absolute;
  z-index: 5;
  margin-right: 325px;
}

.image1 {
  border-radius: 10px;
  height: 450px;
}

footer {
  position: fixed;
  bottom: 0;
}

.createNewBtn:hover,
footer a:hover {
  color: red;
  border-color: #368654;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputBox {
  /* background-color: #ffbe79; */
  background: transparent;
  /* border: black; */
  padding: 10px;
  border-radius: 15px;
  border-width: 5px;
  margin-bottom: 14px;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  color: black;
  width: 340px;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 150px;
  text-align: center;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btnP {
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinBtn {
  background: black;
  color: white;
  font-weight: bold;
  width: 200px;
  border-radius: 10px;
}

.joinBtn:hover {
  background: rgb(35, 33, 33);
}

.inputBox:focus {
  border-color: rgb(160, 154, 154);
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.createNewBtn:hover {
  color: rgb(244, 36, 36);
}

a {
  text-decoration: none;
}

footer {
  margin-bottom: 10px;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
  margin-left: 30px;
}

.logoImage {
  height: 80px;
  width: 180px;
}

.leaveBtn {
  background: rgb(11, 201, 18);
  color: white;
  font-weight: bold;
  width: 200px;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.leaveBtn:hover {
  background: rgb(49, 192, 49);
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 16px;
  line-height: 1.6;
  /* padding-top: 20px; */
}

.asideWrap {
  display: flex;
  background: #1c1e29;
  padding: 10px;
  color: #fff;
  flex-direction: column;
  /* width: 15%; */
}

.editorWrap {
  display: grid;
  padding: 10px;
  width: 60%;
  height: 100%;
  /* height: 600px; */
  /* width: 600px; */
}

.chatWrap {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
  height: auto;
  /* color: wheat; */
  background-color: #000;
  color: black;
}

/* chat APP Styling */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  /* background: #f8f8f8; */
  background: black;
  font-family: "Roboto", sans-serif;
}

section.chat__section {
  width: 800px;
  max-width: 95%;
  /* background: #fff; */
  background: black;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
  padding: 20px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
}
.brand h1 {
  text-transform: uppercase;
  font-size: 20px;
  color: #131212;
  margin-left: 10px;
}
.message__area {
  height: 500px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 30px;
}
textarea {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 16px;
  outline: none;
  background: #fbfbfb;
}

.message {
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 220px;
  position: relative;
}
.incoming {
  background: #8f8be8;
  color: #fff;
}
.outgoing {
  background: #e9eafd;
  color: #787986;
  margin-left: auto;
}
.message h4 {
  position: absolute;
  top: -20px;
  left: 0;
  color: #f1e8e8;
  font-size: 14px;
}
